.aboutview {
  padding: 100px;
  padding-left: 250px;
  padding-right: 250px;
}

@media screen and (max-width: 800px) {
  .aboutview {
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
  .aboutview {
    padding: 100px;
  }
}
