.heading {
  font-size: 500%;
  text-decoration: none;
}

.homeview {
  background-color: #f6f6f6;
  padding: 100px;
  padding-left: 250px;
  padding-right: 250px;
}

@media screen and (max-width: 800px) {
  .homeview {
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .heading {
    font-size: 300%;
    text-decoration: none;
  }
}

@media screen and (max-width: 1000px) {
  .homeview {
    padding: 100px;
  }

  .heading {
    font-size: 400%;
    text-decoration: none;
  }
}
