.projectsview {
  background-color: #f6f6f6;
  padding: 100px;
  padding-left: 250px;
  padding-right: 250px;
}

.project {
  padding-top: 10px;
}

@media screen and (max-width: 800px) {
  .projectsview {
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
