.App {
  font-family: Montserrat;
}

h1 {
  font-family: "Bogart";
  font-weight: normal;
}

h2 {
  font-family: "Bogart";
  font-weight: normal;
}

.text {
  font-size: larger;
}

@media screen and (max-width: 800px) {
  .text {
    font-size: small;
  }
}
